body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin: 80px auto;
  width: 320px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}


input,
button {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}


button {
  background: #2995dd;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #06b7ec;
}


p {
  margin-top: 15px;
}

a {
  color: #13a8d5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


@media (max-width: 500px) {
  .login-container {
    width: 90%;
    margin: 50px auto;
    padding: 20px;
  }
}
